html {
	box-sizing: border-box;
}

*,*:before,*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
}

section {
	margin: 0 auto;
	width: 300px;
}

.section1 thead {
	background-color: black;
	color: white;
}

.section1 tbody tr:nth-child(2n) {
	background-color: gray;
	color: black;
}

.section1 tbody tr:nth-child(1), .section1 tbody tr:nth-child(2), .section1 tbody tr:nth-child(3) {
	color: red;
}

.section2 {
	margin: 30px auto;
}

.section2 input {
	width: 100px;
}
.section2 input:focus {
	transition: 2s width;
	width: 200px;
}


.section3 {
	width: 300px;
	height: 150px;
	background-color: red;
	position: relative;
}

.section3 ul {
	display: flex;
	position: absolute;
	right: 0;
	bottom: 0;
	list-style: none;
	margin: 0;
}

.section3 ul li {
	width: 30px;
	height: 30px;
	color: white;
	background-color: rgba(255,255,255,0.4);
	line-height: 30px;
	text-align: center;
	margin-left: 3px;

}
